.dropdown {
	padding: 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #c06162;
	background: #34495e;
	position: relative;
	font-size: 18px;
	perspective: 1000px;
	z-index: 100;
	&:hover {
		background: #2980b9;
		cursor: pointer;
		.dropdown_menu {
			li {
				display: block;
			}
		}
	}
}
.dropdown_menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	perspective: 1000px;
	z-index: -1;
	li {
		display: none;
		color: #fff;
		background-color: #34495e;
		padding: 10px 20px;
		font-size: 16px;
		opacity: 0;
		&:hover {
			background-color: #2980b9;
		}
	}
}
.dropdown_menu-2 {
	.dropdown_item-1 {
		transform-origin: top center;
		animation: rotateX 300ms 60ms ease-in-out forwards;
	}
	.dropdown_item-2 {
		transform-origin: top center;
		animation: rotateX 300ms 120ms ease-in-out forwards;
	}
	.dropdown_item-3 {
		transform-origin: top center;
		animation: rotateX 300ms 180ms ease-in-out forwards;
	}
	.dropdown_item-4 {
		transform-origin: top center;
		animation: rotateX 300ms 240ms ease-in-out forwards;
	}
	.dropdown_item-5 {
		transform-origin: top center;
		animation: rotateX 300ms 300ms ease-in-out forwards;
	}
}
@-moz-keyframes {
	rotateX {
		0% {
    opacity: 0;
		transform: rotateX(-90deg);
	}
}
50% {
	transform: rotateX(-20deg);
	transform: rotateX(-20deg);
	transform: rotateX(-20deg);
	transform: rotateX(-20deg);
}
100% {
	opacity: 1;
	transform: rotateX(0deg);
	opacity: 1;
	transform: rotateX(0deg);
	opacity: 1;
	transform: rotateX(0deg);
	opacity: 1;
	transform: rotateX(0deg);
}
} {
	@-webkit-keyframes {
		rotateX {
			0% {
    opacity: 0;
			transform: rotateX(-90deg);
		}
	}
	@-o-keyframes {
		rotateX {
			0% {
    opacity: 0;
			transform: rotateX(-90deg);
		}
	}
	@keyframes {
		rotateX {
			0% {
    opacity: 0;
			transform: rotateX(-90deg);
		}
	}
}


<li class="dropdown dropdown-2">
RotateX
<ul class="dropdown_menu dropdown_menu-2">
  <li class="dropdown_item-1">Item 1</li>
  <li class="dropdown_item-2">Item 2</li>
  <li class="dropdown_item-3">Item 3</li>
    <li class="dropdown_item-4">Item 4</li>
    <li class="dropdown_item-5">Item 5</li>
</ul>
</li>